<%- include("partials/headers.ejs"); -%>
<div class="container">
    <h1> <%= post.title %> </h1>
    <h3><%= post.weather%> </h3>
    <h3><%= post.date%> </h3>
    <p> <%= post.content %> </p>
</div>



<%- include("partials/footers.ejs"); -%>